body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    margin: 0;
}

h1{
    text-align: center;
}

table {
    border-collapse: collapse;
}

td {
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    border: 5px solid white;
}

tr:first-child td {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}